/*noinspection CssUnknownTarget*/
@import "prism-material-themes/themes/material-palenight";

code[class*=language-],
pre[class*=language-] {
    line-height: 1;
}

pre[class*=language-] > div.caption {
    margin-top: -20px;
    margin-bottom: 20px;
}

.markdown-body pre > code {
    font-size: .85rem;
}
