<div class="hero container-inner mx-auto flex flex-col sm:flex-row justify-between py-16">
    <div class="text-4xl font-bold w-full sm:w-5/5 text-center sm:text-left">
        <div class="leading-tight">Coding with Johan</div>
        <div class="text-blue-700 leading-tight">Passion for Code</div>
    </div>
    <div class="mt-8 sm:mt-0 w-full">
        <%- image_tag('/img/illustrations/programming.png', {class: "mx-auto sm:mx-0", alt: "programming"}) %>
    </div>
</div>

<div class="container-inner mx-auto py-16">
    <%- partial('_partial/posts-list.ejs', {params: {postTotal: site.posts.length}}) %>
</div>


